<html>
        <head>
                <link rel="stylesheet" 
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
                crossorigin="anonymous">

                {% load static %}
                <link rel="stylesheet" href="{% static 'school/style.css' %}">
            <title>Student Profile</title>
        </head>
        <body>
            
            
        <div class="container" style="text-align:center">
            <!-- <div class="card" style="width: 18rem;" >
                    <div class="card-body">
                                    <h3>Student Profile</h3>
                                    <label>Student Name :</label><input id="stud_name" name="=teach_name" /><br />
                                    <br />
                                    <label>Teacher Name :&nbsp;</label><input id="teach_name" name="teach_name"/><br />
                                    <br />
                                    <label>Subject Name : </label><input id="subj_name" name="subj_name"/><br />
                                    <br />
                                    <label>Attendence Status : </label><input id="att_sts" name="att_sts"/><br />
                                    <br />
                                    <!-- <div style="float:top-right">
                                    <label>Today Date : </label><input id="att_sts" name="att_sts"/><br />
                                </div> 
                    </div>
                  </div> -->
   
    <div class="card" style="width: 18rem; background-size: cover">
           
            <div class="card-body">
              <h5 class="card-title">Student Profile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Student Name :</li>
              <li class="list-group-item">Teacher Name :</li>
              <li class="list-group-item">Subject Name :</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        </body>
</html>