<html>
        <head>
                {% load static %}
                <link rel="stylesheet" href="{% static 'school/style.css' %}">
            <title>Attendance</title>
        </head>
        <body>
        <div class="container" style="text-align:center">
                <h3>Subject Details</h3>
                <!-- <label>Student Name :</label><input id="stud_name" name="=teach_name" /><br />
                <br /> -->
                <label>Teacher Name :&nbsp;</label><input id="teach_name" name="teach_name"/><br />
                <br />
                <label>Subject Name : </label><input id="subj_name" name="subj_name"/><br />
                <br />
                <label>Class Name : </label><input id="clss_name" name="clss_name"/><br />
                <br />
                <!-- <div style="float:top-right">
                <label>Today Date : </label><input id="att_sts" name="att_sts"/><br />
            </div> -->
        
    </div>
        </body>
</html>