
<html>
        <head>
          
                {% load static %}
                <link rel="stylesheet" href="{% static 'school/style.css' %}">
                
            <title>Department</title>
          
        </head>
        <body>
            <h3>Subject</h3>
        <div class="container">
        <form action="POST">
                <label>Teacher Name :</label>
                <input id="department_name" type="submit">
                </form>

        
        </body>
        </html>